@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Montserrat:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to right, rgb(94, 104, 192), #87578d);
}

.container{
    position: relative;
    max-width: 950px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 30px;
    margin: 0 28px;
    background-color: #fff;
}

.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 3px;
    width: 60px;
    border-radius: 8px;
    background-color: #4070f4;;
}

.container form{
    position: relative;
    margin: 16px;
    min-height: 550px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    margin: 4px 0;
    color: #2e2e2e;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

option {
    background-color: #fff;
    color: #333;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}

.alert p{
    font-size: 14px;
    font-style: italic;
    color: dimgray;
    margin: 5px 0;
    padding: 10px;
}

.alert a{
    text-decoration: none;
}

.alert a:hover{
    text-decoration: underline;
}

.button-container{
    margin: 15px 0;
}

.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(94, 104, 192), #87578d);
}

.button-container button:hover{
    background-color: linear-gradient(to right, rgb(94, 104, 192), #87578d);
}

@media (max-width: 750px) {
    .container {
        min-width: 280px;
    }
    .form{
        min-height: 380px;
        overflow: auto;
    }
    .input-field{
        margin-bottom: 12px;
        width: 100%;
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}